<article
  class="
    event
    when-{{ article.metadata.when }}
    type-{{ article.metadata.parsed_metadata.type | slug }}
  "
  data-when="{{ article.metadata.when }}"
  data-type="{{ article.metadata.parsed_metadata.type | slug }}"
  data-start="{{ article.metadata.dates.start }}"
  id="{{ article.title | slug }}"
>
<!-- <a href="{{ article.title | slug }}.html"> -->
  <!-- <div> -->
    <p>
      <time datetime="{{ article.metadata.dates.start }}">
        {{ article.metadata.dates.start }}
      </time>
      {% if article.metadata.dates.end %} –
        <br>
        <time datetime="{{ article.metadata.dates.end }}">
          {{ article.metadata.dates.end }}
        </time>
      {% endif %}
      {% if article.metadata.time %}
        <time datetime="{{ article.metadata.times.start }}">
          {{ article.metadata.times.start }}
        </time>
        {% if article.metadata.times.end %}–
          <br>
          <time datetime="{{ article.metadata.times.end }}">
           {{ article.metadata.times.end }}
          </time>
        {% endif %}
      </p>
      {% endif %}
    <p class="title"><a href="{{ article.title | slug }}.html">{{ article.title }}</a></p>
  <!-- </div> -->
  {% if article.metadata.images[0] %}
  <img
    src="{{ article.metadata.images[0].thumb }}"
    alt="{{ article.metadata.images[0].alt }}"
    loading="lazy"
  >
  {% endif %}
<!-- </a> -->
</article>
