<div id="{{ article.title | slug }}" class="pb1">
  {% if article.metadata.images | length > 0 %}
  <img
    src="{{ article.metadata.images[0].thumb }}"
    alt="{{ article.metadata.images[0].alt }}"
    loading="lazy"
  >
  {% endif %}
  <div>
    <h3><a href="/{{ category }}/{{ article.title | slug }}">{{ article.title }}</a></h3>
    {% if article.metadata.backlinks | length > 0 %}
    <div>See also:
      {% for backlink in article.metadata.backlinks %}
      <a href="/{{ backlink.title | slug }}" class="pr0-5">{{ backlink.title }}</a>
      {% endfor %}
    </div>
    {% endif %}
  </div>
  <p>{{ article.metadata.creation }}</p>
</div>
