<li
  id="{{ article.title | slug }}"
  class="publishing-item"
>
  <a href="/{{ article.title | slug }}.html">
    <p class="title">{% include 'title.html' %}</p>
    {% if article.metadata.images | length > 0 %}
      <img
        src="{{ article.metadata.images[0].thumb }}"
        alt="{{ article.metadata.images[0].alt }}"
        loading="lazy"
      />
    {% endif %}
    <p>
      <time datetime="{{ article.metadata.creation }}">
        {{ article.metadata.creation | tsh }}
      </time>
    </p>
    {% if article.metadata.backlinks | length > 0 %}
      <div>See also:
        {% for backlink in article.metadata.backlinks %}
        <a href="/{{ backlink.title | slug }}.html" class="related-item">{{ backlink.title }}</a>
        {% endfor %}
      </div>
    {% endif %}
  </a>
</li>
