<tr id="{{ article.title | slug }}">
  <td class="icon">
    {% if article.metadata.images | length > 0 %}
    <img
      src="{{ article.metadata.images[0].thumb }}"
      alt="{{ article.metadata.images[0].alt }}"
      loading="lazy"
    >
    {% endif %}
  </td>
  <td class="title">
    <h5><a href="/{{ article.title | slug }}.html">{{ article.title }}</a></h5>
  </td>
  <td class="repo">{% if article.metadata.tool_repos %}
      <ul>
        {% for repo in article.metadata.tool_repos %}
          <li>
            <a href="{{ repo.href }}">{{ repo.name }}</a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}</td>
  <td class="inuse">{% if article.metadata.backlinks %}
    <ul>
      {% for backlink in article.metadata.backlinks %}
        <li>
          <a href="/{{ backlink.title | slug }}.html" class="pr0-5">{{ backlink.title }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}</td>
</tr>
