<tr id="{{ article.title | slug }}">
  <td class="icon">
    {% if article.metadata.images | length > 0 %}
    <img
      src="{{ article.metadata.images[0].thumb }}"
      alt="{{ article.metadata.images[0].alt }}"
      loading="lazy"
    >
    {% endif %}
  </td>
  <td class="title">
    <h3><a href="/{{ article.title | slug }}.html">{{ article.title }}</a></h3>
  </td>
  <td class="repo">
    {% if article.metadata.tool %}
    <a href="{{ article.tool.uri }}">{{ article.tool.label }}</a>
    {% endif %}
  </td>
  <td class="inuse">
    {% for backlink in article.metadata.backlinks %}
    <a href="/{{ backlink.title | slug }}.html" class="pr0-5">{{ backlink.title }}</a>
    {% endfor %}
  </td>
</tr>
