# see README for info on how to fill out each option

ENV=<dev|prod>
SERVER_IP=<>
SERVER_PORT=<>
WIKI_DIR=<path to static HTML output folder>
ASSETS_DIR=<path to static folder, eg CSS, JS, images>
MEDIA_DIR='<WIKI_DIR>/assets/media'
LOG_DIR=<path to log directory>

BASE_URL=<local-wiki>/api.php?>

BOT_USR=<>
BOT_PWD=<>

LOCAL_CA=<>

SEMAPHORE=<>