{% extends "base.html" %}
{% block content %}
  <main id="main-content" class="article {{ article['slug'] }} cat_{{ article['category'] }}">
    <h1>{{ article['title'] }}</h1>
    <aside>
      <table class="metadata fancy">
        {% if article.metadata.parsed_metadata %}
          {% if article.metadata.parsed_metadata.date %}
            <tr>
              <td>date</td>
              <td>{{ article.metadata.parsed_metadata.date | safe }}</td>
            </tr>
          {% endif %}
          {% if article.metadata.parsed_metadata.time %}
            <tr>
              <td>time</td>
              <td>{{ article.metadata.parsed_metadata.time | safe }}</td>
            </tr>
          {% endif %}
          {% if article.metadata.parsed_metadata.location %}
            <tr>
              <td>at</td>
              <td>{{ article.metadata.parsed_metadata.location | safe }}</td>
            </tr>
          {% endif %}
          {% if article.metadata.parsed_metadata.peopleorganisations %}
            <tr>
              <td>with</td>
              <td>{{ article.metadata.parsed_metadata.peopleorganisations | safe }}</td>
            </tr>
          {% endif %}
          {% if article.metadata.parsed_metadata.type %}
            <tr>
              <td>type</td>
              <td>{{ article.metadata.parsed_metadata.type | safe }}</td>
            </tr>
          {% endif %}
        {% endif %}
        <tr>
          <td>page id</td>
          <td>{{ article.metadata.id | safe }}</td>
        </tr>
        <tr>
          <td>updated</td>
          <td>{{ article.metadata.last_modified | safe }}</td>
        </tr>
      </table>
      <section class="backlinks fancy">
        <div>What links here:</div>
        <ul>
          {% for link in article.metadata.backlinks %}
          <li>
            <a title="{{ link.title }}" href="{{ link.slug }}">{{ link.title }}</a>
          </li>
          {% endfor %}
        </ul>
      </section>
    </aside>
    {{ article['html'] | safe }}
  </main>
{% endblock %}
