{% extends "base.html" %}
{% block content %}

<main id="main-content" class="pt1 pr1 pb2 pl1">
  <h1>{{ article.title }}</h1>
  {% for article in article.articles %}
  <figure class="pb1">
    {% if article.image %}
    <img src="{{ article.images[0] }}">
    {% endif %}
    <figcaption>
      <h3><a href="/{{ category }}/{{ article.title | slug }}">{{ article.title }}</a></h3>
      {% if article.backlinks | length > 0 %}
      <div>See also:
        {% for backlink in article.backlinks %}
        <a href="/{{ backlink.title | slug }}" class="pr0-5">{{ backlink.title }}</a>
        {% endfor %}
      </div>
      {% endif %}
    </figcaption>
  </figure>
  {% endfor %}

  {% include "pagination.html" %}
</main>

{% endblock %}
