{% extends "base.html" %}
{% block content %}
<main>
  {% if article.events.happening | length > 0 %}
  <section>
    <h2>Happening now</h2>
    {% for event in article.events.happening %}
    <div>
      <a href="/{{ event.title | slug }}.html">{{ event.title }}</a>
      <div>
        {{ event.metadata.location }}
        {{ event.metadata.date }}
        {{ event.metadata.time }}
      </div>
    </div>
    {% endfor %}
  </section>
  {% endif %}
  <section>
    <h2>Upcoming Events</h2>
    {% if article.events.upcoming | length > 0 %}
    <div class="x xdr xw">
    {% for event in article.events.upcoming %}
    <figure class="w30">
      <img src="{{ event.images[0] }}">
      <figcaption>
        <p><a href="/{{ event.metadata.category }}/{{ event.title | slug }}.html">{{ event.title }}</a></p>
        <p>
          {{ event.metadata.location }}
          <time datetime="{{ event.metadata.dates.start }}">{{ event.metadata.dates.start }}</time>
          {% if event.metadata.dates.end %}
          – <time datetime="{{ event.metadata.dates.end }}">{{ event.metadata.dates.end }}</time>
          {% endif %}
          {% if event.metadata.time %}
          <time datetime="{{ event.metadata.times.start }}">{{ event.metadata.times.start }}</time>
          {% if event.metadata.times.end %}
          – <time datetime="{{ event.metadata.times.end }}">{{ event.metadata.times.end }}</time>
          {% endif %}
        </p>
        {% endif %}
      </figcaption>
    </figure>
    {% endfor %}
    </div>
    {% else %}
    <p>No upcoming event at the moment.</p>
    {% endif %}
  </section>
  <section>
    <h2>Past Events</h2>
    {% if article.events.past | length > 0 %}
    <input type="text" class="table-input-filter" placeholder="Filter the list of events...">
    <div class="table-container">
      <table class="table">
        <thead>
          <tr>
            <th scope="col"><a href="{{ request.url | query_check('sort_by', 'title') }}" id="title">Title</a></th>
            <th scope="col"><a href="{{ request.url | query_check('sort_by', 'location') }}" id="location">Location</a></th>
            <th scope="col"><a href="{{ request.url | query_check('sort_by', 'date') }}" id="datestart">Date</a></th>
            <th scope="col"><a href="{{ request.url | query_check('sort_by', 'time') }}" id="timestart">Time</a></th>
            <th scope="col"><a href="{{ request.url | query_check('sort_by', 'type') }}" id="type">Type</a></th>
          </tr>
        </thead>
        <tbody>
          {% for event in article.events.past %}
          <tr data-title="{{ event.title }}" data-location="{{ event.metadata.location }}" data-dateStart="{{ event.metadata.dates.start }}" data-timeStart="{{ event.metadata.times.start }}">
            <td><a href="/{{ event.metadata.category }}/{{ event.title | slug }}.html">{{ event.title }}</a></td>
            <td>{{ event.metadata.location }}</td>
            <td>
              <time datetime="{{ event.metadata.dates.start }}">{{ event.metadata.dates.start }}</time>
              {% if event.metadata.dates.end %}
              – <time datetime="{{ event.metadata.dates.end }}">{{ event.metadata.dates.end }}</time>
              {% endif %}
            </td>
            <td>
              {% if event.metadata.time %}
              <time datetime="{{ event.metadata.times.start }}">{{ event.metadata.times.start }}</time>
              {% if event.metadata.times.end %}
              – <time datetime="{{ event.metadata.times.end }}">{{ event.metadata.times.end }}</time>
              {% endif %}
              {% endif %}
            </td>
            <td>
              {% if event.metadata.type %}
              {{ event.metadata.type }}
              {% else %}-{% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div> 

    {% else %}
    <p>No past event at the moment. (??)</p>
    {% endif %}
  </section>
  {% include "pagination.html" %}
  
</main>

<script src="/assets/scripts/tables.js"></script>
{% endblock %}
