{% extends "base.html" %}
{% block content %}
<main id="main-content" aria-label="All H&D's activities.">
  <h1>Activities</h1>
  {% if article.types | length > 0 %}
    <menu class="types">
      {% for type in article.types %}
        <label>
          <input
            type="radio"
            name="type"
            value="{{ type | slug }}"
          >
          {{ type }}
        </label>
      {% endfor %}
    </menu>
  {% endif %}
  {% if article.events | length > 0 %}
    <ul class="events">
      <p>events num: {{ article.events | length }}</p>
      {% for article in article.events %}
      {% include "partials/event-item.html" %}
      {% endfor %}
    </ul>
  {% endif %}
</main>
<script src="/static/scripts/events.js"></script>
{% endblock %}
