<footer id="footer" aria-label="Page and site information">
  <!-- page meta information -->
  {% include 'meta.html' %}
  <!-- sub nav with about, contact, access note and privacy policy -->
  {% if 'footer_nav' in article %}
    <nav aria-label="Site information">
      <uL>
        {% for link in article.footer_nav %}
          <li><a title="{{ link.label }}" href="{{ link.uri }}">{{ link.label }}</a></li>
        {% endfor %}
      </uL>
    </nav>
  {% endif %}
  <!-- html templates for later use -->
  {% include 'gallery-template.html' %}
  </footer>
