<template id="gallery-controls-template">
  <menu aria-label="Gallery controls">
    <uL>
      <li><button aria-label="Scroll left" class="left">←</button></li>
      <li><button aria-label="Scroll right" class="right">→</buttom></li>
    </ul>
  </menu>
</template>
<script>
  // For each gallery on page, clone this template to make controls
  const controls_template = document.getElementById('gallery-controls-template')
  for ( const gallery of document.querySelectorAll( '.gallery' ) ) {
    let controls = document.importNode(controls_template.content, true)
    gallery.parentNode.insertBefore( controls, gallery.nextSibling )
    gallery.nextElementSibling.querySelector( '.right' ).onclick = () => { gallery.scroll({
      left: gallery.scrollLeft + 0.6 * window.innerWidth ,
      behavior: "smooth"
    })}
    gallery.nextElementSibling.querySelector( '.left' ).onclick = () => { gallery.scroll({
      left: gallery.scrollLeft - 0.6 * window.innerWidth,
      behavior: "smooth"
    })}
  }
</script>
