<header aria-label="Main site navigation and search">
  <nav aria-label="Main navigation">
    <ul id="meta-nav" aria-label="Quicklinks">
      <li class="skip-link"><a title="Skip to main content" href="#main-content">Skip to main content</a></li>
      <li class="skip-link"><a title="Skip to page and site information" href="#footer">Skip to page and site information</a></li>
      <li aria-label="Homepage"><a title="Home" href="/">H&D</a></li>
    </ul>
    <uL id="index-nav" aria-label="Index pages">
      {% for link in article.nav %}
        <li><a title="{{ link.label }}" href="{{ link.uri }}">{{ link.label }}</a></li>
      {% endfor %}
    </uL>
  </nav>
  {% include 'search-form.html' %}
  <script>
    function toggle( e ) {
      const button = e.target, menu = button.parentElement
      if ( menu.classList.contains( 'visible' ) ) {
        menu.classList.remove( 'visible' )
        button.value = '☰'
      } else {
        menu.classList.add( 'visible' )
        button.value = '×'
      }
    }
  </script>
  <input
    type="button"
    value="☰"
    aria-label="Toggle menu button"
    id="menu-button"
    onclick="toggle( event )"
  />
</header>
