{% if 'metadata' in article %}
  <section id="meta" aria-label="Page information">
    {% if 'last_modified' in article.metadata %}
    <table class="metadata fancy" aria-label="Page metadata">
      <tbody>
        <tr aria-label="Wiki identifier">
          <td>id</td>
          <td>{{ article.metadata.id | safe }}</td>
        </tr>
        <tr aria-label="Last updated date">
          <td>updated</td>
          <td>{{ article.metadata.last_modified }}</td>
        </tr>
        <tr aria-label="Creation date">
          <td>created</td>
          <td>{{ article.metadata.creation }}</td>
        </tr>
        <tr aria-label="Wiki action links">
          <td>actions</td>
          <td>
            <a title="view in wiki" href="{{ article.metadata.mw_url }}">view</a>
            • <a title="view history in wiki" href="{{ article.metadata.mw_history_url }}">history</a>
            • <a title="edit in wiki" href="{{ article.metadata.mw_edit_url }}">edit</a>
          </td>
        </tr>
      </tbody>
    </table>
    {% endif %}
    {% if article.metadata.backlinks | length > 0 %}
    <section class="backlinks fancy" aria-label="Page backlinks">
      <div>What links here:</div>
      <ul>
        {% for link in article.metadata.backlinks %}
        <li>
          <a title="{{ link.title }}" href="{{ link.slug }}">{{ link.title }}</a>
        </li>
        {% endfor %}
      </ul>
    </section>
    {% endif %}
  </section>
{% endif %}
