<nav>
  {% if pagination.nav.prev is not none %}
    <a href="{{ request.url | query_check('page', pagination.nav.prev) }}">prev</a>
  {% else %}
    <span>prev</span>
  {% endif %}

  {% for page in pagination.pages %}
    {% if page > 0 %}
      <a href="{{  request.url | query_check('page', page) }}">{{ page }}</a>
    {% else %}
      <a href="{{ request.url | query_check('page', page) }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if pagination.nav.next is not none %}
    <a href="{{  request.url | query_check('page', pagination.nav.next) }}">next</a>
  {% else %}
    <span>next</span>
  {% endif %}
</nav>
