{% extends "base.html" %}
{% block content %}

<main class="pt1 pr1 pb2 pl1">
  <h1>{{ article.title }}</h1>
  {% for article in article.articles %}
    <figure class="pb1">
      <img src="{{ article.images[0] }}">
      <figcaption>
        <h3><a href="/{{ article.title | slug }}.html">{{ article.title }}</a></h3>
        {% if article.backlinks | length > 0 %}
        <div>See also:
          {% for backlink in article.backlinks %}
          <a href="/{{ backlink.title | slug }}.html" class="pr0-5">{{ backlink.title }}</a>
          {% endfor %}
        </div>
      </figcaption>
    </figure>
    {% else %}
    {% endif %}
  </div>
  {% endfor %}

  {% include "pagination.html" %}
</main>

{% endblock %}
