<search aria-label="Full site search">
  <form
    id="search"
    action="/search"
    method="get"
    aria-label="Search form"
  >
    <input
      name="query"
      type="search"
      id="query"
      list="article_list"
      placeholder="Search..."
      value="{{ article.query }}"
      required
    />
    <label for="query">Search</label>
    <!-- TODO -->
    <!-- <datalist id="article_list">
      {% for cat in site_index %}
        <optgroup label="{{ cat.label }}">
          {% for item in cat.articles %}
            <option
              value="{{ item.name }}"
              data-slug="{{ item.slug }}"
            ></option>
          {% endfor %}
        </optgroup>
      {% endfor %}
    </datalist> -->
    <input
      aria-label="Proceed with search."
      type="submit"
      value=">"
    />
  </form>
</search>
