{% extends "base.html" %}
{% block content %}

<main class="pt1 pr1 pb2 pl1">
  <h1>{{ article.title }}</h1>
  <div class="table-container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Title</th>
            <th scope="col">Category</th>
            <th scope="col">Repository</th>
            <th scope="col">See also</th>
        </tr>
      </thead>
      <tbody>
        {% for article in article.articles %}
        <tr>
          <td>
            <h3><a href="/{{ article.metadata.categories[0] }}/{{ article.title | slug }}">{{ article.title }}</a></h3>
          </td>
          <td>
            {{ article.metadata.categories[0] }}
          </td>
          <td>
            {% if article.tool %}
            <a href="{{ article.tool.uri }}">{{ article.tool.label }}</a> 
            {% else %}
            <p>No repository available</p>
            {% endif %}
          </td>
          <td>
            {% for backlink in article.backlinks %}
            <a href="/{{ backlink.title | slug }}" class="pr0-5">{{ backlink.title }}</a>
            {% endfor %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</main>

{% endblock %}
