{% extends "base.html" %}
{% block content %}

<main id="main-content" aria-label="All H&D's tools.">
  <h1>{{ article.title }}</h1>
  <table class="tools">
    <thead>
      <tr>
        <th scope="col" class="icon">Icon</th>
        <th scope="col" class="title">Title</th>
        <th scope="col" class="repo">Repository</th>
        <th scope="col" class="inuse">In Use</th>
      </tr>
    </thead>
    <tbody>
      {% for article in article.articles %}
      {% include "partials/tool-item.html" %}
      {% endfor %}
    </tbody>
  </table>
</main>

{% endblock %}
