{% extends "base.html" %}
{% block content %}

<main id="main-content" aria-label="All H&D's tools.">
  <h1>{{ article.title }}</h1>
  <div class="table-container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Title</th>
            <th scope="col">Category</th>
            <th scope="col">Repository</th>
            <th scope="col">See also</th>
        </tr>
      </thead>
      <tbody>
        {% for article in article.articles %}
	{% include "partials/tool-item.html" %}
        {% endfor %}
      </tbody>
    </table>
  </div>
</main>

{% endblock %}
