[Unit]
Description=hd-www udp service
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=1
User=hd-www
Group=hd-www

WorkingDirectory=<path/to/website>

# this makes Python send logs to journalctl right-away, without buffering
Environment="PYTHONUNBUFFERED=1"

Environment="PATH=/usr/local/bin:/usr/bin:/bin:<path/to/website>/env/bin"
ExecStart=<path/to/website>/env/bin/python cli.py server

[Install]
WantedBy=multi-user.target

