
/*********************************************************** font imports */

@font-face {
  font-family: 'adelphe';
  src: url("Adelphe-FlorealRegular.woff2") format("woff2");
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: 'adelphe';
  src: url("Adelphe-FlorealItalic.woff2") format("woff2");
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'adelphe';
  src: url("Adelphe-FlorealBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: 'adelphe';
  src: url("Adelphe-FlorealBoldItalic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'dindong';
  src: url("DINdong.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: 'notcourier';
  src: url("NotCourierSans.otf");
  font-display: swap;
}



/*********************************************************** base variables */

:root {

  /* Default The Hmm colors */

  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  --blue: hsl(240, 100%, 50%);
  --yellow: hsl(60, 100%, 50%);

  /* Borders, radii and outlines */

  --solid: 1px solid;
  --focus: var(--solid) var(--blue);
  --d-rad: 15px;

  /* Shadow parameters for drop-shadows */

  --shadow: drop-shadow(0px 0px 10px var(--black));

  /* Transition and animation speeds */

  --fast: 0.25s;

  /* sizing */

  --base-width: min(100%, 50rem);
  --expanded-width: min(100%, 75rem);
  --side-width: min(100%, 20rem);

}


/* basic reset */

*,
*::before,
*::after {
  box-sizing: border-box;
  position: relative;
}


/* intentionally setting outlines */

*:focus {
  outline: var(--focus);
}


/* accessibility */

@media (prefers-reduced-motion) {
  * {
    animation: none !important;
    transform: none !important;
    opacity: unset !important;
  }
}

/* @media (prefers-contrast) {

} */


/* document strucutre */

html,
body {
  padding: 0;
  margin: 0;
  /* height           : 100%; */
  width: 100%;
  scroll-behavior: smooth;
  font-size: 15pt;
  line-height: 1.2;
}

body {
  /* padding-inline: 1rem; */
  background-color: var(--white);
  font-family: 'adelphe', 'Georgia', 'Times New Roman', Times, serif ;
}

header,
footer {
  padding-block: 1rem;
}

footer,
p:not(.image),
div:not(.mw-parser-output, .image, .thumb, .grid, .tool, .tool *),
ul:not(.gallery, .events, .publishing),
aside,
menu,
pre,
ol,
iframe,
h1,
h2,
h3,
h4,
h5,
h6 {
  max-width: var(--base-width);
  /* margin-inline: auto; */
  /* margin-inline: calc((100% - var(--expanded-width))/2 ); */
  margin-inline: 1rem;
}

header,
img,
.image,
.thumb,
.grid,
hr,
table {
  max-width: var(--expanded-width);
  margin-inline: auto;
}

.image {
  text-align: center;
  width: unset !important;
}

img {
  height: auto;
  font-size: 0.7rem;
  line-height: 1;
  font-style: italic;
  text-align: center;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* max-width: 90vw; */
  /* max-height: 70vh; */
}

hr {
  border: unset;
  border-top: 0.3rem double black;
}

a {
  color: var(--black) !important;
  text-decoration-thickness: 0.5;
  text-decoration-color: var(--black);
}

h1 {
  font-family: 'dindong';
  font-weight: normal;
  font-size: 3rem;
  margin-top: 2rem;
  line-height: 1;
}

/* h1, */
h2,
h3,
h4,
h5,
h6 {
  font-family: 'adelphe';
  font-weight: normal;
}
h2 {
  font-size: 1.8rem;
}

h3 {
  font-weight: 600;
  font-size: 1em;
}
h4 {
  font-family: 'notcourier', 'Courier New', Courier, monospace;
}
h5 {
  font-family: dindong;
  font-size: 1.5rem;
  margin-block: 0;
}

main {
  /* min-height: 80%; */
  /* max-width: min(100%, 40rem); */
  /* margin: 0 auto; */
  /* display:flex;
  flex-direction: row;
  flex-wrap: wrap;
*/
}

.iframe {
  text-align: center;
}

div.mw-pt-languages {
  padding: 0.5rem;
  border: var(--solid);
  border-radius: var(--d-rad);
   /* margin-inline: unset; */
  /* margin-left: calc((100% - var(--base-width))/2); */
  width: fit-content;
}

.mw-pt-languages .mw-pt-languages-label {
  display: none;
}

.mw-pt-languages ul {
  padding: 0;
}

.mw-pt-languages ul li {
  display: inline-block;
}

main aside {
  float: right;
  margin-right: calc((100% - var(--base-width))/2);
  margin-bottom: 1rem;
  margin-left: 1rem;
  /* position: absolute;   */
  /* left: calc( (100% - var(--base-width))/2 + var(--base-width) ); */
  /* margin-left: calc( (100% - var(--base-width))/2 ); */
  max-width: var(--side-width);
  z-index: 1;
  font-family: 'notcourier';
  font-size: 0.8rem;
}

main aside .info {
  padding: 0.5rem;
  width: 100%;
  border: var(--solid);
  border-radius: var(--d-rad);
 }

main aside .info td {
  vertical-align: baseline;
}

main aside .info td:nth-of-type(2) {
  padding-left: 0.5rem;
}

footer {
  font-family: 'notcourier';
  font-size: 0.8rem;
}

footer #meta {
  padding-block: 1rem;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

footer #meta .metadata,
footer #meta .backlinks {
  padding: 0.5rem;
  width: 50%;
  /* font-family: 'authen';
  font-size: 0.8rem; */
  /* border: var(--solid);
  border-radius: var(--d-rad) */
  margin-inline: unset;
}

footer #meta .metadata tr td {
  padding: 0;
  vertical-align: baseline;
}

footer nav {
  width: fit-content;
  position: fixed;
  right:  0;
  bottom: 1rem;
  /* margin-inline: auto; */
  /* margin-left: auto; */
}
footer nav ul {
  flex-wrap: wrap;
  padding: 0.2rem 0.2rem;
  padding-top: 0.1rem;
}

div.mw-parser-output {}


/* anchors */

a,
a:active,
a:visited {
  color: var(--blue);
}

a:focus {
  text-decoration: none;
}


/* lists */

ul {
  margin-block: 0;
  padding-left: 1rem;
}

/* ul li {
  margin: 0;
  list-style: none;
}
ul li::before {
  content: '╠═ ';
}
ul li:focus-within::before,
ul li:hover::before {
  content: '╠══ ';
}
ul li:last-of-type::before {
  content: '╚═ ';
}
ul li:last-of-type:focus-within::before,
ul li:last-of-type:hover::before {
  content: '╚══ ';
} */


/* table of contents */

#toc {

  padding: 0.5rem;
  /* padding-left: 0; */
  /* width: 100%; */
  /* max-width:50%; */
  /* float: right; */

  /* float: left; */
  /* margin-left: calc( (100% - var(--base-width))/2 ); */
  margin-inline: 1rem;

  /* position: sticky; */
  /* top: 6.5rem; */
  /* top: 4.5rem; */
  /* top: 4rem; */
  z-index: 10000;
  /* left: calc((100% - var(--expanded-width))/2 - 1rem); */

  --width :  calc((var(--expanded-width) - var(--base-width))/2);
  width:var(--whidth);
  /* left: calc((100% - var(--expanded-width))/2 - var(--side-width) - 1rem); */
  /* width: calc((100% - var(--expanded-width))/2); */
  max-width: var(--side-width);
  /* left: 0; */
  background-color: var(--white);
  border-radius: var(--d-rad);
  border: var(--solid);
}

#toctitle h2 {
  margin: 0;
  font-size: 1rem;
}

#toctitle h2::before {
  content: '╚═ ';
}

.tocnumber {
  display: none;
}

#mw-toc-heading {
  margin: 0;
}

.thumbcaption {
  margin-top: 0.5rem;
  font-family: 'adelphe';
  font-size: 0.8rem;
  font-weight: bold;
  text-align: center;
  margin-inline: auto;
}


/* navigation */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  position: sticky;
  top: 0;
  z-index: 10000;
  color: var(--black);
  font-family: 'dindong';
  font-size: 1.6rem;
  margin-inline: 1rem;
}

nav ul {
  list-style: none;
  padding: 0.3rem 0.5rem;
  display: flex;
  align-items: baseline;
  /* gap: 0.5rem; */
  /* box-shadow:  0px 0px 10px 10px var(--beige);
  filter:  drop-shadow( 0px 0px 10px var(--beige)); */
  background-color: var(--white);
  border: var(--solid);
  border-radius: var(--d-rad);

}

nav ul li {
  width: fit-content;
}

nav ul li::before,
nav ul li:focus-within::before,
nav ul li:hover::before,
nav ul li:last-of-type::before,
nav ul li:last-of-type:focus-within::before,
nav ul li:last-of-type:hover::before {
  content: '';
}

nav ul li a {
  padding: 0 0.25rem;
  color: var(--black) !important;
  text-decoration-thickness: 0.5;
  text-decoration-color: var(--black);
  /* padding: 0.25rem 0.5rem; */
}

header nav {
  display: flex;
  gap: 0.5rem;

}

header nav ul {
  margin-inline: 0 !important;
}

header nav ul#meta-nav {
  background-color: unset;
  border: unset;
  padding: unset;
  border-radius: unset;

}

header nav ul#meta-nav li {
  background-color: var(--black);
  border: var(--solid);
  padding: 0.3rem 0.5rem;
  border-radius: var(--d-rad);
}
header nav ul#meta-nav li a {
  color: var(--white) !important;
  text-decoration-color: var(--white);
}

header nav ul#meta-nav li:has(a:hover),
header nav ul#meta-nav li:has(a:active) {
  background-color: var(--white);
}
header nav ul#meta-nav li a:hover,
header nav ul#meta-nav li a:active {
  color: var(--black) !important;
  text-decoration-color: var(--black);
}

.skip-link {
  position: absolute;
  /* left: 1rem; */
  padding: 0 0.25rem;
  transform: translateY(-300%);
  transition: transform var(--fast) linear;
  z-index: 1;
}

.skip-link:focus-within {
  transform: translateY(0);
}

header form {
  display: flex;
  gap: 0.5rem;
}

header form input {
  /* filter:  drop-shadow( 0px 0px 3px rgba(100, 61, 35, 0.795)); */
  /* box-shadow:  0px 0px 10px 10px var(--beige);
  filter:  drop-shadow( 0px 0px 10px var(--beige)); */
  background-color: var(--yellow);
  border: var(--solid);
  border-radius: var(--d-rad);
  padding: 0.6rem 0.5rem;
  max-width: 8rem;
}

/* header form input::placeholder, */
header form input {
  font-family: 'dindong';
  font-size: 1.6rem;
}

header form input[type="search"] {
  max-width: 180px;
}
header form input[type="submit"] {
  background-color: var(--white);
}
header form input[type="submit"]:hover,
header form input[type="submit"]:active {
  background-color: var(--yellow);
}


header #menu-button {
  display: none;
  padding: 0rem 0.5rem 0.5rem 0.5rem;
  background-color: var(--white);
  border: var(--solid);
  font-size: 1.2rem;
  border-radius: var(--d-rad);
   vertical-align: middle;
  max-height: 2.25rem;
  min-width: 2.25rem;
  margin-left: calc(100% - 3.5rem);
  margin-top: calc( 0.75rem + 2px );
}

/* images */

figure {
  border: var(--solid);
  background-color: var(--white);
  padding-inline: 1rem;
  padding-block: 1rem;
  margin-block: 1rem;
}

figure:focus-within {
  outline: var(--focus);
}

img,
figure img {}

figure audio,
figure video {
  width: 100%;
}

figure figcaption {
  font-style: italic;
  text-align: center;
}


/* galleries */

ul.gallery {
  /* max-width: 100%; */
  margin-block: 1rem;
  padding-inline: 1rem;
  display: flex;
  align-items: center;
  align-content: flex-start;
  justify-content: flex-start;
  overflow: scroll;
  gap: 1rem;
}

ul.gallery li::before,
ul.gallery li:hover::before,
ul.gallery li:focus-within::before {
  content: '';
}

ul.gallery li {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
}

ul.gallery li,
ul.gallery li div {
  margin: 0 !important;
  width: unset !important;
  max-width: unset;
}

ul.gallery li div img {
  height: auto !important;
  width: unset;
  max-height: 70vh;
  max-width: 80vw;
}
ul.gallery+menu {
padding-left: 0;
}
ul.gallery+menu ul {
  list-style: none;
  margin: 0;
  /* left: -6rem; */
  display: flex;
  padding: 0;
  margin: 0;
  gap: 0.5rem;
}

ul.gallery+menu ul li::before,
ul.gallery+menu ul li:focus-within::before,
ul.gallery+menu ul li:hover::before,
ul.gallery+menu ul li:last-of-type::before,
ul.gallery+menu ul li:last-of-type:focus-within::before,
ul.gallery+menu ul li:last-of-type:hover::before {
  content: '';
}

ul.gallery+menu ul li button {
  height: 2.25rem;
  width: 2.25rem;
  border-radius: var(--d-rad);
   vertical-align: middle;
  padding: 0.1rem 0.5rem 0.5rem 0.5rem;
  background-color: var(--white);
  border: var(--solid);
  font-size: 1.2rem;
}


/* forms */

input[type=submit] {
  cursor: pointer;
}


/* articles */

.mw-parser-output>table:first-of-type {
  display: none;
}


/* pages: search  */

.searchmatch {
  background-color: var(--yellow);
}


/* pages: events */

menu.types {
  margin-inline: auto;
  padding: 0;
  text-align: center;
}

menu.types label {
  font-family: 'notcourier';
  font-size: 0.8rem;
  display: inline-block;
}

menu.types input[type="radio"] {
  /* accent-color: var(--beige); */
}

ul.events,
ul.publishing {
  padding-left: 0;
  padding-bottom: 2rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  overflow: scroll;
}



.index_row ul.events,
.index_row ul.publishing {
  width: fit-content;
  max-width: 100%;
  min-width: calc( var(--base-width) + 2rem);
  justify-content: flex-start;
  margin: auto;
  padding-inline: 1rem;
  /* margin-left: calc((100% - var(--base-width))/2); */
  margin-left: auto;
  margin-inline: auto;
  flex-wrap: nowrap;
  overflow: scroll;
}

li.event-item,
li.publishing-item {
  list-style: none;
  max-width: 15rem;
  min-width: 12rem;
}

li.event-item a,
li.publishing-item a {
  text-decoration: none;
  color: var(--black);
}

li.event-item div:has( a.related-item ),
li.publishing-item div:has( a.related-item ) {
  font-family: 'notcourier';
  font-size: 0.8rem;
}

li.event-item a.related-item,
li.publishing-item a.related-item {
  text-decoration: underline !important;
}

.index_row .publishing-item p:has(time),
.index_row .publishing-item div:has(a.related-item) {
  display: none;
}

li.event-item .title,
li.publishing-item .title {
  font-family: dindong;
  font-size: 1.5rem;
  margin-bottom: 0.65rem;
  line-height: 1.1;
  text-decoration: underline;
  text-decoration-thickness: 0.5;
  text-decoration-color: var(--black);
}

li.event-item p,
li.publishing-item p {
  margin-block: 0.5rem;
}

li.event-item time,
li.publishing-item time {
  max-width: 15rem;
  font-family: 'notcourier';
  font-size: 0.8rem;
}

li.event-item img,
li.publishing-item img {
  max-height: 12rem;
  filter: var(--shadow);
  border-radius: var(--d-rad);
}



/* pages: articles */

li.article-item h3 {
  margin-bottom: 0;
}

#toc,
.fancy {
}




/*********************************************************** tool index styles */
table.tools {}

table.tools th {
  text-align: left;
  font-family: 'notcourier', 'Courier New', Courier, monospace;
  font-size: 0.8rem;
}

table.tools tr th,
table.tools tr td {
  padding: 0.5rem;
  box-sizing: content-box;
}

table.tools tr td.icon {
  max-width: 4rem;
  max-height: 4rem;
}

table.tools tr td.icon img {
  max-height: 4rem;
  max-width: 4rem;
}

table.tools tr td.title h3 {
  margin: 0;
}

table.tools tr td ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: 'notcourier', 'Courier New', Courier, monospace;
  font-size: 0.8rem;
}



/*********************************************************** the <tool /> embed  */

.tool {
  margin: 1rem;
  max-width: var(--base-width);
  margin-inline: auto;
  border: var(--solid);
  border-radius: var(--d-rad);
  background: var(--yellow);
}
.toolHeader {
  text-align: center;
  padding: 0.3rem;
}
.toolContent {
  max-height: 80vh;
  overflow: scroll;
  padding: 1rem;
  border-top: var(--solid);
}
.toolFooter {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.toolFooter a {
  width: 100%;
  padding: 0.3rem;
  border-top: var(--solid);
  border-right: var(--solid);
  border-top-right-radius: var(--d-rad);
}
.toolFooter a:last-of-type {
  border-right: none;
}


.grid h2 {
  font-size: 1.4rem;
  font-family: 'notcourier', 'Courier New', Courier, monospace;
}



/*********************************************************** breakpoints */


@media (max-width: 2000px) {
  #toc {
    position: relative;
    left: unset;
    top: unset;
    width: unset;
    z-index:unset;
    float: unset;
    /* margin-left: calc((100% - var(--expanded-width))/2); */
  }
}
@media (max-width: 1000px) {
  ul.gallery {
    padding-inline: 0;
  }
  ul.gallery li div img {
    max-width: calc(100vw - 5rem );
  }
  ul.gallery+menu ul {
    left: 0;
  }
  ul.events,
  ul.publishing {
    gap: 0.5rem;
  }
}

@media (max-width: 600px) {
  header {
    /* height: 100%; */
    position: fixed;
    flex-direction: column;
    justify-content: center;
    /* translate: 0 calc(4.5rem - 100%); */
    translate: 0 calc(4.5rem - 100%);
    transition: all var(--fast) linear;
    background-color: transparent;
    gap: 2rem;
    box-shadow: 0 0 3rem 5rem transparent;
  }
  header.visible {
    translate: 0;
    background-color: var(--white);
    box-shadow: 0 0 3rem 3rem var(--white);
  }

  header nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  header nav ul {
    flex-wrap: wrap;
    justify-content: center;
    background-color: unset;
    border: unset;
    border-radius: unset;
    padding: 0;
    gap: 0.5rem;
  }
  header nav ul li {
    background-color: var(--white);
    border: var(--solid);
    border-radius: var(--d-rad);
     padding: 0.5rem;
  }
  header #menu-button {
    display: unset;
  }
  footer #meta {
    flex-wrap: wrap;
  }
  footer #meta .metadata,
  footer #meta .backlinks {
    width: unset;
  }
  footer nav {
    position: relative;
    bottom: unset;
  }
  footer nav ul {
    flex-direction: column;
  }
  h1 {
    margin-top: 1rem;
  }
  main aside {
    float: unset;
    margin-left: 0;
    /* margin-right: 1rem; */
  }
  div.mw-pt-languages {
    display: inline-block;
  }
  li.event-item,
  li.publishing-item {
    max-width: 20rem;
  }

  li.event-item img,
  li.publishing-item img {
    min-height: 8rem;
    max-height: 15rem;
  }
  /* Force table to not be like tables anymore */
  table.tools,
  table.tools thead,
  table.tools tbody,
  table.tools th,
  table.tools td,
  table.tools tr {
    display: block;
  }
  table.tools thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
    opacity: 0;
  }
  table.tools tr {
    margin: 0 0 1rem 0;
    padding-bottom: 1rem;
    border-bottom: var(--solid) red;
  }
  table.tools tr td {
    border: none;
    position: relative;
    padding: 0;
    padding-left: 35%;
  }
  table.tools tr td.title h3 {
    margin-block: 0.25rem;
  }
  table.tools tr td:before {
    position: absolute;
    top: 0;
    left: 6px;
    width: 35%;
    padding-right: 10px;
    white-space: nowrap;
    font-family: 'notcourier', 'Courier New', Courier, monospace;
  font-size: 0.8rem;
  }
  table.tools td:nth-of-type(1):not(:empty):before { content: ""; }
  table.tools td:nth-of-type(2):not(:empty):before { content: "Title"; }
  table.tools td:nth-of-type(3):not(:empty):before { content: "Repositories"; }
  table.tools td:nth-of-type(4):not(:empty):before { content: "In Use"; }
}



@media (min-width: 900px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0.5rem;
    grid-auto-flow: row;
    grid-template-areas: ". . .";
  }
  .grid .index_row ul {
    display: block;
  }
}
