@font-face {
  font-family: 'authentic';
  src: url("AUTHENTICSans-90.woff2") format("woff2");
}

@font-face {
  font-family: 'authentic-bold';
  src: url("AUTHENTICSans-130.woff2") format("woff2");
}

@font-face {
  font-family: 'notcourier';
  src: url("NotCourierSans.otf");
}


:root {


  /* Default The Hmm colors */

  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  --blue: hsl(240, 100%, 50%);
  --brown: hsla(24, 48%, 26%, 0.795);
  --beige: rgb(250, 242, 200);
  --yellow: hsl(60, 100%, 50%);
  --orange-red: hsl(352, 100%, 69%);
  --light-grey: hsl(0, 0%, 88%);
  --mid-grey: hsl(0, 0%, 39%);
  --dark-grey: hsl(0, 0%, 20%);


  /* The default accent color used in the entire website */
  /* This value is overidden in the Event page. */

  --accent: var(--blue);
  --error: var(--orange-red);


  /* Borders and outlines */

  --solid: 1px solid;
  --dash: 1px dashed;
  --thin: .25px solid;
  --very-thin: .25px solid var(--blue);
  --focus: 1px solid var(--accent);


  /* Shadow parameters for box-shadows and drop-shadows */

  --shadow-color: hsla(0, 0%, 0%, 0.288);
  --shadow-size: 3rem;
  --shadow: 0 0 var(--shadow-size) 0rem var(--shadow-color);

  /* Transition and animation speeds */

  --very-fast: 0.125s;
  --fast: 0.25s;
  --slow: 0.5s;
  --very-slow: 1s;


  /* sizing */

  --base-width: min(100%, 40rem);
  --expanded-width: min(100%, 70rem);
  --side-width: min(100%, 20rem);


}


/* basic reset */

*,
*::before,
*::after {
  box-sizing: border-box;
  position: relative;
}


/* intentionally setting outlines */

*:focus {
  outline: var(--focus);
}


/* accessibility */

@media (prefers-reduced-motion) {
  * {
    animation: none !important;
    transform: none !important;
    opacity: unset !important;
  }
}

/* @media (prefers-contrast) {

} */


/* document strucutre */

html,
body {
  padding: 0;
  margin: 0;
  /* height           : 100%; */
  width: 100%;
  scroll-behavior: smooth;
  font-size: 14pt;
  line-height: 1.2;
  /* background-color : var(--light-grey); */
}

body {
  padding-inline: 1rem;
  background-color: var(--beige);
}

header,
footer {
  padding-block: 1rem;
}

header,
footer,
p:not(.image, .iframe),
div:not(.mw-parser-output, .image, .thumb),
ul:not(.gallery, .events, .publishing),
aside,
menu,
pre,
ol,
h1,
h2,
h3,
h4,
h5,
h6 {
  max-width: var(--base-width);
  margin-inline: auto;
}

img,
.image,
.thumb,
iframe,
.iframe,
hr,
table {
  max-width: var(--expanded-width);
  margin-inline: auto;
}

.image {
  text-align: center;
  width: unset !important;
}

img {
  height: auto;
}

hr {
  border: unset;
  border-top: 0.3rem double black;
}

a {
  color: var(--black) !important;
  text-decoration-thickness: 0.5;
  text-decoration-color: var(--brown);
}

h1 {
  font-family: 'authentic';
  font-weight: normal;
  font-size: 2.3rem;
  margin-top: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'authentic';
  font-weight: normal;
}

main {
  /* min-height: 80%; */
  /* max-width: min(100%, 40rem); */
  /* margin: 0 auto; */
  /* display:flex;
  flex-direction: row;
  flex-wrap: wrap;
*/
}

div.mw-pt-languages {
  padding: 0.5rem;
  border: 1px solid;
  border-radius: 5px;
  /* margin-inline: unset; */
  margin-left: calc((100% - var(--base-width))/2);
  width: fit-content;
  font-family: 'authentic';
}

.mw-pt-languages .mw-pt-languages-label {
  display: none;
}

.mw-pt-languages ul {
  padding: 0;
}

.mw-pt-languages ul li {
  display: inline-block;
}

main aside {
  float: right;
  margin-right: calc((100% - var(--base-width))/2);
  margin-bottom: 1rem;
  margin-left: 1rem;
  /* position: absolute;   */
  /* left: calc( (100% - var(--base-width))/2 + var(--base-width) ); */
  /* margin-left: calc( (100% - var(--base-width))/2 ); */
  max-width: var(--side-width);
  z-index: 1;
  font-family: 'authentic';
  /* font-size: 0.8rem; */
}

main aside .info {
  padding: 0.5rem;
  width: 100%;
  border: 1px solid;
  border-radius: 5px;
}

main aside .info td {
  vertical-align: baseline;
}

main aside .info td:nth-of-type(2) {
  padding-left: 0.5rem;
}

footer {
  font-family: 'authentic';
}

footer #meta {
  padding-block: 1rem;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

footer #meta .metadata,
footer #meta .backlinks {
  padding: 0.5rem;
  width: 50%;
  font-family: 'authentic-bold';
  font-size: 0.8rem;
  /* border: 1px solid;
  border-radius: 5px; */
  margin-inline: unset;
}

footer #meta .metadata tr td {
  padding: 0;
  vertical-align: baseline;
}

footer nav {
  width: fit-content;
  /* margin-inline: auto; */
  /* margin-left: auto; */
}

div.mw-parser-output {}


/* anchors */

a,
a:active,
a:visited {
  color: var(--blue);
}

a:focus {
  text-decoration: none;
}


/* lists */

ul {
  margin-block: 0;
  padding-left: 1rem;
}

/* ul li {
  margin: 0;
  list-style: none;
}
ul li::before {
  content: '╠═ ';
}
ul li:focus-within::before,
ul li:hover::before {
  content: '╠══ ';
}
ul li:last-of-type::before {
  content: '╚═ ';
}
ul li:last-of-type:focus-within::before,
ul li:last-of-type:hover::before {
  content: '╚══ ';
} */


/* table of contents */

#toc {

  padding: 0.5rem;
  /* padding-left: 0; */
  /* width: 100%; */
  /* max-width:50%; */
  /* float: right; */

  float: left;
  /* margin-left: calc( (100% - var(--base-width))/2 ); */

  position: sticky;
  /* top: 6.5rem; */
  top: 4.5rem;
  /* top: 4rem; */
  z-index: 10000;
  left: calc((100% - var(--expanded-width))/2 - 1rem);
  width: calc((var(--expanded-width) - var(--base-width))/2);
  /* left: 0; */
  background-color: var(--beige);
  font-family: 'authentic';
  border-radius: 5px;
  border: 1px solid;
}

#toctitle h2 {
  margin: 0;
  font-size: 1rem;
}

#toctitle h2::before {
  content: '╚═ ';
}

.tocnumber {
  display: none;
}

#mw-toc-heading {
  margin: 0;
}

.thumbcaption {
  margin-top: 0.5rem;
  font-family: 'authentic-bold';
  font-size: 0.8rem;
}


/* navigation */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  position: sticky;
  top: 0;
  z-index: 10000;
  filter: drop-shadow(0px 0px 3px var[--brown]);
  font-family: 'authentic';
  color: var(--brown);

}

nav ul {
  list-style: none;
  padding: 0.5rem 0.5rem;
  display: flex;
  align-items: baseline;
  /* gap: 0.5rem; */
  /* box-shadow:  0px 0px 10px 10px var(--beige);
  filter:  drop-shadow( 0px 0px 10px var(--beige)); */
  background-color: var(--beige);
  border: 1px solid var(--brown);
  border-radius: 5px;

}

nav ul li {
  width: fit-content;

}

nav ul li::before,
nav ul li:focus-within::before,
nav ul li:hover::before,
nav ul li:last-of-type::before,
nav ul li:last-of-type:focus-within::before,
nav ul li:last-of-type:hover::before {
  content: '';
}

nav ul li a {
  padding: 0 0.25rem;
  color: var(--black) !important;
  text-decoration-thickness: 0.5;
  text-decoration-color: var(--brown);
  /* padding: 0.25rem 0.5rem; */
}

.skip-link {
  position: absolute;
  /* left: 1rem; */
  padding: 0 0.25rem;
  background-color: var(--light-grey);
  transform: translateY(-300%);
  transition: transform var(--fast) linear;
  z-index: 1;
}

.skip-link:focus-within {
  transform: translateY(0);
}

header form {
  display: flex;
  gap: 0.5rem;
}

header form input {
  /* filter:  drop-shadow( 0px 0px 3px rgba(100, 61, 35, 0.795)); */
  /* box-shadow:  0px 0px 10px 10px var(--beige);
  filter:  drop-shadow( 0px 0px 10px var(--beige)); */
  background-color: var(--beige);
  border: 1px solid;
  border-radius: 5px;
  padding: 0.5rem 0.5rem;
  max-width: 8rem;
}

header form input::placeholder,
header form input {
  font-family: 'authentic';
  font-size: 1rem;
}

header #menu-button {
  display: none;
  padding: 0rem 0.5rem 0.5rem 0.5rem;
  background-color: var(--beige);
  border: 1px solid var(--brown);
  font-size: 1.2rem;
  border-radius: 5px;
  vertical-align: middle;
  max-height: 2.25rem;
  min-width: 2.25rem;
  margin-left: calc(100% - 3.5rem);
  margin-top: 0.5rem;
}

/* images */

figure {
  border: var(--thin);
  background-color: var(--white);
  padding-inline: 1rem;
  padding-block: 1rem;
  margin-block: 1rem;
}

figure:focus-within {
  outline: var(--focus);
}

img,
figure img {}

figure audio,
figure video {
  width: 100%;
}

figure figcaption {
  font-style: italic;
  text-align: center;
}


/* galleries */

ul.gallery {
  /* max-width: 100%; */
  padding-inline: 1rem;
  display: flex;
  align-items: center;
  align-content: flex-start;
  justify-content: flex-start;
  overflow: scroll;
  gap: 1rem;
}

ul.gallery li::before,
ul.gallery li:hover::before,
ul.gallery li:focus-within::before {
  content: '';
}

ul.gallery li {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
}

ul.gallery li,
ul.gallery li div {
  margin: 0 !important;
  width: unset !important;
  max-width: unset;
}

ul.gallery li div img {
  height: auto !important;
  width: unset;
  max-height: 80vh;
  max-width: 90vw;
}

ul.gallery+menu ul {
  left: -8rem;
  display: flex;
  padding: 0;
  margin: 0;
  gap: 0.5rem;
}

ul.gallery+menu ul li::before,
ul.gallery+menu ul li:focus-within::before,
ul.gallery+menu ul li:hover::before,
ul.gallery+menu ul li:last-of-type::before,
ul.gallery+menu ul li:last-of-type:focus-within::before,
ul.gallery+menu ul li:last-of-type:hover::before {
  content: '';
}

ul.gallery+menu ul li button {
  height: 2rem;
  width: 2rem;
  vertical-align: middle;

}


/* forms */

input[type=submit] {
  cursor: pointer;
}


/* articles */

.mw-parser-output>table:first-of-type {
  display: none;
}


/* pages: search  */

.searchmatch {
  background-color: var(--yellow);
}


/* pages: events */

menu.types {
  padding: 0;
  text-align: center;
}

menu.types label {
  font-family: 'authentic-bold';
  font-size: 0.8rem;
}

menu.types input[type="radio"] {
  /* accent-color: var(--beige); */
}

ul.events,
ul.publishing {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  overflow: scroll;
}

article.event-item,
article.publishing-item {
  max-width: 15rem;
}

article.event-item a,
article.publishing-item a {
  text-decoration: none;
  color: var(--black);
}

article.event-item a.related-item,
article.publishing-item a.related-item {
  text-decoration: underline !important;
}

article.event-item .title,
article.publishing-item .title {
  font-family: authentic;
  font-size: 1.3rem;
  margin-bottom: 0.65rem;
  line-height: 1.1;
  text-decoration: underline;
  text-decoration-thickness: 0.5;
  text-decoration-color: var(--brown);
}

article.event-item p,
article.publishing-item p {
  margin-block: 0.5rem;
}

article.event-item time,
article.publishing-item time {
  max-width: 15rem;
  font-family: notcourier;
  font-size: 1.1rem;
}

article.event-item img,
article.publishing-item img {
  max-height: 12rem;
  /* filter:
  drop-shadow( 0px 0px 5px rgb(255, 0, 0))
  drop-shadow( 0px 0px 10px rgb(0, 119, 255)); */
  filter: drop-shadow(0px 0px 10px var(--brown));
  border-radius: 5px;
}

article.event-item img:hover,
article.publishing-item img:hover {
  animation: jello 1s ease-in-out forwards;
}


/* pages: articles */

article.article-item h3 {
  margin-bottom: 0;
}

#toc,
.fancy {
  /* border-top: 0.3rem double;
  border-right: 0.3rem double; */
  /* border-top-right-radius: 1rem; */
}

/* #toc::before,
#toc::after,
.fancy::before,
.fancy::after  {
  position: absolute;
  content: "";
  width: 1rem;
  height: 1rem;
  border-bottom-left-radius: 100%;
}
#toc::before,
.fancy::before {
  top: -1rem;
  left: -1rem;
  border-bottom: 0.3rem double;
}
#toc::after,
.fancy::after {
  bottom: -1rem;
  right: -1rem;
  border-left: 0.3rem double;
} */

/* tool styles */
table.tools {}

table.tools th {
  text-align: left;
}

table.tools tr td {
  padding: 0.5rem;
  box-sizing: content-box;
}

table.tools tr td.icon {
  max-width: 4rem;
  max-height: 4rem;

}

table.tools tr td.icon img {
  max-height: 4rem;
  max-width: 4rem;
}


.tool {
  margin: 1rem;
  left: -5rem;
  max-width: var(--base-width);
  /* border-top: 0.3rem double black;
  border-right: 0.3rem double black; */
  border: 0.3rem double black;
  border-left-color: var(--light-grey);
  border-bottom-color: var(--light-grey);
  background: linear-gradient(to bottom left, #e5f792dc, transparent, transparent);
  transition: border-color 0.2s linear;
}

.tool::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to top right, #a9ff81e7, transparent);
  opacity: 0;
  transition: opacity 0.2s linear;
}

.toolHeader {
  text-align: center;
  padding: 0.3rem;
}

.toolContent {
  max-height: 80vh;
  overflow: scroll;
  padding: 1rem;
  border-top: 0.3rem double black;
}

.toolFooter {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.toolFooter a {
  width: 100%;
  padding: 0.3rem;
  margin-left: 0.5rem;
  border-top: 0.3rem double black;
  border-right: 0.3rem double black;
}

.toolFooter a:last-of-type {
  margin-right: 0;
  border-right: none;
}

.tool:hover {
  border-left-color: black;
  border-bottom-color: black;
}

.tool:hover::before {
  opacity: 1;
}


@media (max-width: 600px) {
  header {
    position: fixed;
    justify-content: start;
    translate: 0 calc(4.25rem - 100%);
    transition: translate var(--fast) linear;
  }
  header.visible {
    translate: 0;
  }
  header nav ul {
    flex-wrap: wrap;
    background-color: unset;
    border: unset;
    border-radius: unset;
    padding: 0;
    gap: 0.5rem;
  }
  header nav ul li {
    background-color: var(--beige);
    border: 1px solid var(--brown);
    border-radius: 5px;
    padding: 0.5rem;
  }
  header #menu-button {
    display: unset;
  }
}


@-webkit-keyframes jello {

  from,
  11.1%,
  to {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    transform: none
  }

  22.2% {
    -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
    -moz-transform: skewX(-12.5deg) skewY(-12.5deg);
    -ms-transform: skewX(-12.5deg) skewY(-12.5deg);
    transform: skewX(-12.5deg) skewY(-12.5deg)
  }

  33.3% {
    -webkit-transform: skewX(6.25deg) skewY(6.25deg);
    -moz-transform: skewX(6.25deg) skewY(6.25deg);
    -ms-transform: skewX(6.25deg) skewY(6.25deg);
    transform: skewX(6.25deg) skewY(6.25deg)
  }

  44.4% {
    -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
    -moz-transform: skewX(-3.125deg) skewY(-3.125deg);
    -ms-transform: skewX(-3.125deg) skewY(-3.125deg);
    transform: skewX(-3.125deg) skewY(-3.125deg)
  }

  55.5% {
    -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
    -moz-transform: skewX(1.5625deg) skewY(1.5625deg);
    -ms-transform: skewX(1.5625deg) skewY(1.5625deg);
    transform: skewX(1.5625deg) skewY(1.5625deg)
  }

  66.6% {
    -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
    -moz-transform: skewX(-0.78125deg) skewY(-0.78125deg);
    -ms-transform: skewX(-0.78125deg) skewY(-0.78125deg);
    transform: skewX(-0.78125deg) skewY(-0.78125deg)
  }

  77.7% {
    -webkit-transform: skewX(0.39063deg) skewY(0.39063deg);
    -moz-transform: skewX(0.39063deg) skewY(0.39063deg);
    -ms-transform: skewX(0.39063deg) skewY(0.39063deg);
    transform: skewX(0.39063deg) skewY(0.39063deg)
  }

  88.8% {
    -webkit-transform: skewX(-0.19531deg) skewY(-0.19531deg);
    -moz-transform: skewX(-0.19531deg) skewY(-0.19531deg);
    -ms-transform: skewX(-0.19531deg) skewY(-0.19531deg);
    transform: skewX(-0.19531deg) skewY(-0.19531deg)
  }
}

@-moz-keyframes jello {

  from,
  11.1%,
  to {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    transform: none
  }

  22.2% {
    -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
    -moz-transform: skewX(-12.5deg) skewY(-12.5deg);
    -ms-transform: skewX(-12.5deg) skewY(-12.5deg);
    transform: skewX(-12.5deg) skewY(-12.5deg)
  }

  33.3% {
    -webkit-transform: skewX(6.25deg) skewY(6.25deg);
    -moz-transform: skewX(6.25deg) skewY(6.25deg);
    -ms-transform: skewX(6.25deg) skewY(6.25deg);
    transform: skewX(6.25deg) skewY(6.25deg)
  }

  44.4% {
    -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
    -moz-transform: skewX(-3.125deg) skewY(-3.125deg);
    -ms-transform: skewX(-3.125deg) skewY(-3.125deg);
    transform: skewX(-3.125deg) skewY(-3.125deg)
  }

  55.5% {
    -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
    -moz-transform: skewX(1.5625deg) skewY(1.5625deg);
    -ms-transform: skewX(1.5625deg) skewY(1.5625deg);
    transform: skewX(1.5625deg) skewY(1.5625deg)
  }

  66.6% {
    -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
    -moz-transform: skewX(-0.78125deg) skewY(-0.78125deg);
    -ms-transform: skewX(-0.78125deg) skewY(-0.78125deg);
    transform: skewX(-0.78125deg) skewY(-0.78125deg)
  }

  77.7% {
    -webkit-transform: skewX(0.39063deg) skewY(0.39063deg);
    -moz-transform: skewX(0.39063deg) skewY(0.39063deg);
    -ms-transform: skewX(0.39063deg) skewY(0.39063deg);
    transform: skewX(0.39063deg) skewY(0.39063deg)
  }

  88.8% {
    -webkit-transform: skewX(-0.19531deg) skewY(-0.19531deg);
    -moz-transform: skewX(-0.19531deg) skewY(-0.19531deg);
    -ms-transform: skewX(-0.19531deg) skewY(-0.19531deg);
    transform: skewX(-0.19531deg) skewY(-0.19531deg)
  }
}

@-o-keyframes jello {

  from,
  11.1%,
  to {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    transform: none
  }

  22.2% {
    -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
    -moz-transform: skewX(-12.5deg) skewY(-12.5deg);
    -ms-transform: skewX(-12.5deg) skewY(-12.5deg);
    transform: skewX(-12.5deg) skewY(-12.5deg)
  }

  33.3% {
    -webkit-transform: skewX(6.25deg) skewY(6.25deg);
    -moz-transform: skewX(6.25deg) skewY(6.25deg);
    -ms-transform: skewX(6.25deg) skewY(6.25deg);
    transform: skewX(6.25deg) skewY(6.25deg)
  }

  44.4% {
    -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
    -moz-transform: skewX(-3.125deg) skewY(-3.125deg);
    -ms-transform: skewX(-3.125deg) skewY(-3.125deg);
    transform: skewX(-3.125deg) skewY(-3.125deg)
  }

  55.5% {
    -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
    -moz-transform: skewX(1.5625deg) skewY(1.5625deg);
    -ms-transform: skewX(1.5625deg) skewY(1.5625deg);
    transform: skewX(1.5625deg) skewY(1.5625deg)
  }

  66.6% {
    -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
    -moz-transform: skewX(-0.78125deg) skewY(-0.78125deg);
    -ms-transform: skewX(-0.78125deg) skewY(-0.78125deg);
    transform: skewX(-0.78125deg) skewY(-0.78125deg)
  }

  77.7% {
    -webkit-transform: skewX(0.39063deg) skewY(0.39063deg);
    -moz-transform: skewX(0.39063deg) skewY(0.39063deg);
    -ms-transform: skewX(0.39063deg) skewY(0.39063deg);
    transform: skewX(0.39063deg) skewY(0.39063deg)
  }

  88.8% {
    -webkit-transform: skewX(-0.19531deg) skewY(-0.19531deg);
    -moz-transform: skewX(-0.19531deg) skewY(-0.19531deg);
    -ms-transform: skewX(-0.19531deg) skewY(-0.19531deg);
    transform: skewX(-0.19531deg) skewY(-0.19531deg)
  }
}

@keyframes jello {

  from,
  11.1%,
  to {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    transform: none
  }

  22.2% {
    -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
    -moz-transform: skewX(-12.5deg) skewY(-12.5deg);
    -ms-transform: skewX(-12.5deg) skewY(-12.5deg);
    transform: skewX(-12.5deg) skewY(-12.5deg)
  }

  33.3% {
    -webkit-transform: skewX(6.25deg) skewY(6.25deg);
    -moz-transform: skewX(6.25deg) skewY(6.25deg);
    -ms-transform: skewX(6.25deg) skewY(6.25deg);
    transform: skewX(6.25deg) skewY(6.25deg)
  }

  44.4% {
    -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
    -moz-transform: skewX(-3.125deg) skewY(-3.125deg);
    -ms-transform: skewX(-3.125deg) skewY(-3.125deg);
    transform: skewX(-3.125deg) skewY(-3.125deg)
  }

  55.5% {
    -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
    -moz-transform: skewX(1.5625deg) skewY(1.5625deg);
    -ms-transform: skewX(1.5625deg) skewY(1.5625deg);
    transform: skewX(1.5625deg) skewY(1.5625deg)
  }

  66.6% {
    -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
    -moz-transform: skewX(-0.78125deg) skewY(-0.78125deg);
    -ms-transform: skewX(-0.78125deg) skewY(-0.78125deg);
    transform: skewX(-0.78125deg) skewY(-0.78125deg)
  }

  77.7% {
    -webkit-transform: skewX(0.39063deg) skewY(0.39063deg);
    -moz-transform: skewX(0.39063deg) skewY(0.39063deg);
    -ms-transform: skewX(0.39063deg) skewY(0.39063deg);
    transform: skewX(0.39063deg) skewY(0.39063deg)
  }

  88.8% {
    -webkit-transform: skewX(-0.19531deg) skewY(-0.19531deg);
    -moz-transform: skewX(-0.19531deg) skewY(-0.19531deg);
    -ms-transform: skewX(-0.19531deg) skewY(-0.19531deg);
    transform: skewX(-0.19531deg) skewY(-0.19531deg)
  }
}

@-webkit-keyframes bounce {

  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -moz-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
  }

  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    -moz-transform: translate3d(0, -30px, 0);
    -ms-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0)
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    -moz-transform: translate3d(0, -15px, 0);
    -ms-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0)
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    -moz-transform: translate3d(0, -4px, 0);
    -ms-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0)
  }
}

@-moz-keyframes bounce {

  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -moz-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
  }

  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    -moz-transform: translate3d(0, -30px, 0);
    -ms-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0)
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    -moz-transform: translate3d(0, -15px, 0);
    -ms-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0)
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    -moz-transform: translate3d(0, -4px, 0);
    -ms-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0)
  }
}

@-o-keyframes bounce {

  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -moz-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
  }

  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    -moz-transform: translate3d(0, -30px, 0);
    -ms-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0)
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    -moz-transform: translate3d(0, -15px, 0);
    -ms-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0)
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    -moz-transform: translate3d(0, -4px, 0);
    -ms-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0)
  }
}

@keyframes bounce {

  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -moz-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
  }

  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    -moz-transform: translate3d(0, -30px, 0);
    -ms-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0)
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    -moz-transform: translate3d(0, -15px, 0);
    -ms-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0)
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    -moz-transform: translate3d(0, -4px, 0);
    -ms-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0)
  }
}

@-webkit-keyframes swing {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
    -moz-transform: rotate3d(0, 0, 1, 15deg);
    -ms-transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg)
  }

  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    -moz-transform: rotate3d(0, 0, 1, -10deg);
    -ms-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg)
  }

  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    -moz-transform: rotate3d(0, 0, 1, 5deg);
    -ms-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg)
  }

  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    -moz-transform: rotate3d(0, 0, 1, -5deg);
    -ms-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg)
  }

  to {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    -moz-transform: rotate3d(0, 0, 1, 0deg);
    -ms-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg)
  }
}

@-moz-keyframes swing {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
    -moz-transform: rotate3d(0, 0, 1, 15deg);
    -ms-transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg)
  }

  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    -moz-transform: rotate3d(0, 0, 1, -10deg);
    -ms-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg)
  }

  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    -moz-transform: rotate3d(0, 0, 1, 5deg);
    -ms-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg)
  }

  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    -moz-transform: rotate3d(0, 0, 1, -5deg);
    -ms-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg)
  }

  to {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    -moz-transform: rotate3d(0, 0, 1, 0deg);
    -ms-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg)
  }
}

@-o-keyframes swing {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
    -moz-transform: rotate3d(0, 0, 1, 15deg);
    -ms-transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg)
  }

  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    -moz-transform: rotate3d(0, 0, 1, -10deg);
    -ms-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg)
  }

  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    -moz-transform: rotate3d(0, 0, 1, 5deg);
    -ms-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg)
  }

  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    -moz-transform: rotate3d(0, 0, 1, -5deg);
    -ms-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg)
  }

  to {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    -moz-transform: rotate3d(0, 0, 1, 0deg);
    -ms-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg)
  }
}

@keyframes swing {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
    -moz-transform: rotate3d(0, 0, 1, 15deg);
    -ms-transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg)
  }

  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    -moz-transform: rotate3d(0, 0, 1, -10deg);
    -ms-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg)
  }

  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    -moz-transform: rotate3d(0, 0, 1, 5deg);
    -ms-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg)
  }

  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    -moz-transform: rotate3d(0, 0, 1, -5deg);
    -ms-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg)
  }

  to {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    -moz-transform: rotate3d(0, 0, 1, 0deg);
    -ms-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg)
  }
}

@-webkit-keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
  }

  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    -moz-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    -ms-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg)
  }

  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    -moz-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    -ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg)
  }

  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    -moz-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    -ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg)
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
  }
}

@-moz-keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
  }

  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    -moz-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    -ms-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg)
  }

  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    -moz-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    -ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg)
  }

  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    -moz-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    -ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg)
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
  }
}

@-o-keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
  }

  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    -moz-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    -ms-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg)
  }

  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    -moz-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    -ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg)
  }

  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    -moz-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    -ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg)
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
  }
}

@keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
  }

  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    -moz-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    -ms-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg)
  }

  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    -moz-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    -ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg)
  }

  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    -moz-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    -ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg)
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
  }
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    -moz-transform: scale3d(1.05, 1.05, 1.05);
    -ms-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05)
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
  }
}

@-moz-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    -moz-transform: scale3d(1.05, 1.05, 1.05);
    -ms-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05)
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
  }
}

@-o-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    -moz-transform: scale3d(1.05, 1.05, 1.05);
    -ms-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05)
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    -moz-transform: scale3d(1.05, 1.05, 1.05);
    -ms-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05)
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
  }
}
