:root {
    --c-white: #fff;
    --c-black: #000;
    --c-yellow: #ffe300;
    --f-serif: serif;
    --f-sans: sans-serif;
}

/* basic reset */

html {
    box-sizing: border-box
}

*, *:before, *:after {
    box-sizing: inherit
}

html, body,
h1, h2, h3, h4, h5, h6,
p,
ol, ul, li,
figure {
    margin: 0;
    padding: 0
}

img {
    max-width: 100%;
}


.x {
    display: flex;
}

.xdr {
    flex-direction: row;
}

.xw {
    flex-wrap: wrap;
}

.w30 {
    width: 30%;
}

.table-container {
    width: 100%;
    overflow: scroll;
}

.table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

.table thead {
    position: sticky;
    top: 0;
    background-color: var(--c-yellow);
}

.table thead th {
    text-align: left;
}

.table thead th {
    padding-bottom: 0.25rem;
}

.table tbody tr:first-child td {
    padding-top: 0.5rem;
}

.table tbody td {
    padding: 0.25rem 0;
}

.table tbody tr:hover {
    background-color: var(--c-yellow);
}


.pt0-5  {
    padding-top: 0.5rem;
}

.pr0-5  {
    padding-right: 0.5rem;
}

.pb0-5  {
    padding-bottom: 0.5rem;
}

.pl0-5  {
    padding-left: 0.5rem;
}

.pt1 {
    padding-top: 1rem;
}

.pr1 {
    padding-right: 1rem;
}

.pb1 {
    padding-bottom: 1rem;
}

.pl1 {
    padding-left: 1rem;
}

.pt2 {
    padding-top: 2rem;
}

.pr2 {
    padding-right: 2rem;
}

.pb2 {
    padding-bottom: 2rem;
}

.pl2 {
    padding-left: 2rem;
}
